# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.env

# Java
*.class
*.jar
*.war
*.ear
target/

# Visual Studio Code
.vscode/

# JetBrains IDEs
.idea/

# Environment files
.env
*.env

# Build directories
dist/
build/

# Dependency directories
bower_components/

# Compiled source #
*.com
*.class
*.dll
*.exe
*.o
*.so

# Package distribution
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
